* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .page1 {
    width: 100%;
    height: 100vh;
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: linear-gradient(rgb(12, 45, 144), red);
  }
  .page2 {
    width: 100%;
    height: 100vh;
    background: rgb(179, 16, 43);
     text-align: center;
     color: antiquewhite;
     padding-top: 50px;
  }